section {
  width: 76%;
  height: auto;
  position: relative;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  background-color: rgb(25, 25, 25);
  color: white;
  border-radius: 10px;
  margin-left: 1%;
}
