@font-face {
  font-family: "Bradley";
  src: url("../../../assets/fonts/BRADHITC.ttf")  format('truetype');
}

header {
  font-family: "Bradley";
}

header {
  text-align: center;
  width: 100%;
  height: 150px;
  /*max-height: 250px;*/
  margin-top: -90px;

}

header h1 {
  font-size: 130px;

}
