table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #303032;
  color: rgb(239, 179, 1);
}

th, td {
  padding: 0.5%;
  font-family: "Calibri Light";
  text-align: center;
  font-size: 1.5vw;
  border: 1px solid white;
}


h1, h2 {
  text-align: center;
  width: 100%;
  color: rgb(239, 179, 1);
}

.nr-to-white {
  background-color: #303032;
  color: rgb(255, 217, 0);
  font-weight: bold;

}

.lesson-link {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
